.TodoObject {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #eee;

    &.star {
      order: -1;
    }

    .checkbox {
      display: flex;
      flex: 1;
      align-items: center;
      cursor: pointer;

      .text {
        flex: 1;
        margin-left: 12px;
        font-size: 14px;
      }

      &.checked {
        svg {
          color: #9cfffd;
        }

        .text {
          color: #888;
          text-decoration: line-through;
        }
      }
    }

    .important {
      display: flex;
      color: #ccc;
      font-size: 21px;
      cursor: pointer;
      &:hover {
        color: #f0f351;
      }
      &.star {
        color: #f0f351;
      }
    }

    .remove {
      display: flex;
      margin-left: 5px;
      color: #ff8f8f;
      font-size: 21px;
      cursor: pointer;
      &:hover {
        color: #ff8f8f;
      }
    }
  }