
.TodoAdd {
    display: flex;
    padding: 0px 0 10px;

    input {
        flex: 1;
        line-height: 1.5;
        outline: none;
        border: none;
        border-bottom: 1px solid #aaa;
        color: #333;
        font-size: 15px;
    }

    ::placeholder{
        font-size: 15px;
        
    }

    button {
        padding-right: 0;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        color: #888;
    }
    
    svg {
        color: #9cfffd;
        font-size: 21px;
      }
}